In [2]:
import os
import csv
import pandas as pd

# To read data from csv file
data_file = os.path.join("purchase_data.csv")
main_df = pd.read_csv(data_file)

main_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [3]:
# To get Total No. of Players
total_players_df = pd.DataFrame({"Total Players" : [len(main_df['SN'].unique())]})
total_players_df

   Total Players
0            576

In [4]:
# Purchasing Analysis (Total)
purchasing_analysis_df = pd.DataFrame({
    "Number of Unique Items":[len(main_df['Item ID'].unique())],
    "Average Purchase Price":[f"${(main_df['Price'].mean()):.2f} "],
    "Total Number of Purchases":[main_df['Purchase ID'].count()],
    "Total Revenue":[f"${main_df['Price'].sum():,.2f} "],
})
purchasing_analysis_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,$3.05,780,"$2,379.77"

In [33]:
# Gender Demographics

gender_df = main_df.copy()

gender_df = gender_df.drop_duplicates(subset=['SN'])

gender_total_count = gender_df['Gender'].value_counts()
gender_player_percentage = map("{:.2f}%".format, gender_df['Gender'].value_counts()/len(gender_df)*100)

gender_demographics_df = pd.DataFrame({
    "Total Count":gender_total_count,
    "Percentage of Players": gender_player_percentage
})

gender_demographics_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [69]:
# Purchasing Analysis (Gender)

purchase_by_gender_df = main_df.copy()

group_by_gender_df = purchase_by_gender_df.groupby(['Gender'])

purchase_analysis_by_gender_df = pd.DataFrame({
    "Purchase Count":group_by_gender_df["Purchase ID"].count(),
    "Avg Purchase Price": map("${:.2f}".format, group_by_gender_df['Price'].sum()/group_by_gender_df['Price'].count()),
    "Total Purchase Value":map("${:.2f}".format, group_by_gender_df['Price'].sum()),
    "Avg Total Purchase per Person":map("${:.2f}".format, group_by_gender_df['Price'].sum()/gender_total_count)
})
purchase_analysis_by_gender_df

,Purchase Count,Avg Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [140]:
# Age Demographics
purchase_by_age_df = main_df.copy()
# group_by_age_df = purchase_by_age_df.groupby(['Age'])
# group_by_age_df.count()

bins=[0,9,14,19,24,29,34,39,45]
group_names=['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']

purchase_by_age_df["Age Ranges"] = pd.cut(purchase_by_age_df["Age"], bins, labels=group_names, include_lowest=False)
group_by_age_df = purchase_by_age_df.groupby(["Age Ranges"])


age_Demographics_df = pd.DataFrame({
    "Purchase Count": group_by_age_df["Item ID"].count(),
    "Avg Purchase Price": map("${:.2F}".format, group_by_age_df["Price"].sum()/group_by_age_df["Item ID"].count()),
    "Total Purchase Value": map("${:.2F}".format, group_by_age_df["Price"].sum()),
    "Avg Total Purchase per Person": map("${:.2F}".format, group_by_age_df["Price"].sum()/group_by_age_df["Item ID"].count())
})
age_Demographics_df

,Purchase Count,Avg Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$3.35
10-14,28,$2.96,$82.78,$2.96
15-19,136,$3.04,$412.89,$3.04
20-24,365,$3.05,$1114.06,$3.05
25-29,101,$2.90,$293.00,$2.90
30-34,73,$2.93,$214.00,$2.93
35-39,41,$3.60,$147.67,$3.60
40+,13,$2.94,$38.24,$2.94

In [64]:
# Top Spenders
purchase_by_spender_df = main_df.copy()

group_by_spender_df = purchase_by_spender_df.groupby(['SN'])
group_by_spender_df.max()

,Purchase ID,Age,Gender,Item ID,Item Name,Price
SN,,,,,,
Adairialis76,467,16,Male,123,Twilight's Carver,2.28
Adastirin33,142,35,Female,175,Woeful Adamantite Claymore,4.48
Aeda94,388,17,Male,128,"Blazeguard, Reach of Eternity",4.91
Aela59,28,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32
Aelaria33,630,23,Male,171,Scalpel,1.79
...,...,...,...,...,...,...
Yathecal82,727,20,Female,104,Piece Maker,2.42
Yathedeu43,595,22,Male,88,Vindictive Glass Edge,3.75
Yoishirrala98,572,17,Female,145,Fiery Glass Crusader,4.58
Zhisrisu83,141,10,Male,60,Wolf,4.35
Zontibe81,560,21,Male,161,Verdict,3.79